@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  height: 100vh;
}

.App h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}